.flex-constainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  
}

header {
  background-color: #FFBF00;
  overflow: visible;
  width: 100%;
  height: 72px;
  padding: 5px;
}

header img{
  height:53px;
  text-align: left;
}

.class-header{
  max-width: 900px;
  padding-top: 10px;
  margin: 0 auto;
  
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  justify-content: flex-start;
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: #949494;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: #ffbf00be;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0px auto 40px; 
  flex-wrap: wrap;

  
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ffbf00be;
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #ffbf00be;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

.start-page{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

.logo-vale{
  width: 400px;
  height: 300px;
}

.first-text-frontpage{
  width: 595px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
}

.second-text-frontpage{

  margin-top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4F5665;
}

 
  
input.chat-name{
  margin-top: 50px;
  width: 300px;
  height: 39px;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid gray;
  flex-grow: 1;
}

.all-avatars{
  margin-top: 60px;
  display: flex;
  justify-content:space-between;
}

.avatar{
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border-radius: 50%;
}

.avatar:hover {
  opacity: 0.5;
}

.start-button{
  margin-top: 50px;
  background-color: #ffbf00;
  padding: 18px 48px;
  width: 294px;
  height: 61px;
  border-radius: 100px;
}


/* .flex-container{
  display: flex;
  flex-direction: column-reverse;
} */